# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.sqlite3

# Virtual environment
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints

# IDE / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Streamlit
.streamlit/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Dataset / large files (optional)
server/dataset/*.csv
